table tfoot {
  font-size: 15px;
  font-weight: normal;
  color: #FFFFFF;
}
table tfoot td {
  font-size: 15px;
  
}
table tfoot .links {
  text-align: right;
}
table tfoot .links a{
  display: inline-block;
  background: rgba(31, 43, 54, 0.9);
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
  text-decoration: none;
}