.categorias-form{
    height: 34px;
    margin-bottom: 16px;
    background-color: #ffffffed;
    color: #33404F;
    
}

.categorias-form option{
    color: #333;

}

input[type="submit"] {
    color: #fff;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
}


