.categorias-form{
    height: 34px;
    margin-bottom: 16px;
    color: #999;
    
}

.categorias-form option{
    color: #999;

}

input[type="submit"] {
    color: #fff;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
}



